---
services:
  cloudflaretunnel:
    container_name: cloudflaretunnel
    image: cloudflare/cloudflared:2023.10.0
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=your cloudflare tunnel token
    command: tunnel --no-autoupdate run
    networks:
      - proxy
    restart: unless-stopped

  dockersocket:
    image: tecnativa/docker-socket-proxy
    container_name: dockersocket
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - proxy
    environment:
      CONTAINERS: 1
      POST: 0
    privileged: true
    restart: unless-stopped
    
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - Your-ip:80:80     # http
      - Your-ip:443:443   # https
      - Your-ip:8080:8080 # Enable Dashboard, don't do in production
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /traefik/config:/etc/traefik/ # Static config: main config
      - /traefik/config/certs:/etc/traefik/letsencrypt/
    labels:
      - "traefik.http.routers.dashboard.rule=Host(`traefik.example.com`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=<username>:<password>" # use passwd
    environment:
      DOCKER_HOST: dockersocket # External docker socket as docker
      CF_API_EMAIL: mail@mail.com
      CF_DNS_API_TOKEN: YOUR-CF_DNS_API_TOKEN
    depends_on:
      cloudflaretunnel:
        condition: service_healthy
        restart: true
      dockersocket:
        condition: service_started
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
